altgraph==0.16.1
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
cx-Oracle==7.1.1
dill==0.2.9
entrypoints==0.3
future==0.17.1
idna==2.8
keyring==18.0.0
keyrings.alt==3.1.1
lxml==4.3.1
macholib==1.11
more-itertools==6.0.0
multiprocess==0.70.7
numpy==1.16.1
pandas==0.24.1
pathlib==1.0.1
pathos==0.2.3
pefile==2018.8.8
pox==0.2.5
ppft==1.6.4.9
PyInstaller==3.4
python-dateutil==2.8.0
pytz==2018.9
pywin32==224
pywin32-ctypes==0.2.0
requests==2.21.0
six==1.12.0
soupsieve==1.8
SQLAlchemy==1.2.18
urllib3==1.24.1
